.title {
    font-size: x-large;
    margin: 20px;
}

.container {
    width: 75vw;
    min-width: 400px;
    height: 75vh;
    min-height: 400px;
}

.searchContainer {
    margin: 20px;
    display: flex;
}

.searchBar {
    font-size: large;
}